.levelBar {
  background: linear-gradient(#d8a23d, #c66055);
  font-family: "Luckiest Guy";
}

.nextLevel {
  font-family: "Luckiest Guy";
}

.label {
  font-size: 20px;
  color: green;
}

.level {
  padding: 2px 15px 10px 15px;
  font-family: "Luckiest Guy";
}

.moneyBar {
  font-family: "Luckiest Guy";
}