.wrapper {
    border: 3px solid blue;
  }
  
  .barcontainer {
    background-color: pink;
  }
  
  .completedbar {
    background-color: lightblue;
  }
  
  .label {
    font-size: 20px;
    color: green;
  }
  .jolo{
    padding: 20px;
  }